<div class="flex justify-center items-center w-full">
    <div class="card w-full max-w-6xl">
        <p-table #dt dataKey="id" [value]="items" showGridlines class="w-full" [paginator]="true" [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]" [scrollable]="true" scrollHeight="445px"
            (sortFunction)="customSort($event)" [customSort]="true"
            [globalFilterFields]="['id', 'name', 'role', 'email']">
            <ng-template #caption>
                <div class="flex justify-between items-center w-full px-4 py-2 rounded-t-lg">
                    <span class="text-3xl font-extrabold text-gray-300 tracking-wide">Users</span>
                    <div class="flex items-center gap-2">
                        <p-button (click)="showDialogCreate()" icon="pi pi-plus" severity="info" label="Add"
                            [style]="{height:'40px', 'border-radius':'8px'}" />
                        <p-dialog header="Add user" [modal]="true" [(visible)]="visibleCreate" (onHide)="closeCreate()"
                            [style]="{ width: '30rem' }">
                            <div class="flex items-center gap-2 mb-4">
                                <label for="avatar" class="font-semibold w-24">Avatar</label>
                                <input pInputText id="avatar" [(ngModel)]="item.avatar"
                                    class="flex-auto custom-search-input-dialog"
                                    [ngClass]="{ 'ng-invalid': !validateAvatar }" />
                            </div>
                            <small *ngIf="!validateAvatar" class="p-error">
                                Avatar must be a valid URL.
                            </small>

                            <div class="flex items-center gap-2 mb-4">
                                <label for="name" class="font-semibold w-24">Name</label>
                                <input pInputText id="name" [(ngModel)]="item.name"
                                    class="flex-auto custom-search-input-dialog" />
                            </div>

                            <div class="flex items-center gap-2 mb-4">
                                <label for="password" class="font-semibold w-24">Password</label>
                                <input pInputText id="password" [(ngModel)]="item.password"
                                    class="flex-auto custom-search-input-dialog"
                                    [ngClass]="{ 'ng-invalid': !validatePassword }" />
                            </div>
                            <small *ngIf="!validatePassword" class="p-error">
                                Password must be at least 4 characters long.
                            </small>

                            <div class="flex items-center gap-2 mb-8">
                                <label for="email" class="font-semibold w-24">Email</label>
                                <input pInputText id="email" [(ngModel)]="item.email"
                                    class="flex-auto custom-search-input-dialog"
                                    [ngClass]="{ 'ng-invalid': !validateEmail }" />
                            </div>
                            <small *ngIf="!validateEmail" class="p-error">
                                Email must be a valid email address.
                            </small>

                            <div class="flex justify-end gap-2">
                                <p-button label="Cancel" severity="secondary" (click)="closeCreate()" />
                                <p-button label="Save" severity="info" (click)="save()" />
                            </div>
                        </p-dialog>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)" placeholder="Search"
                            class="custom-search-input  text-black px-4 py-2 rounded-md border border-gray-300" />
                    </div>
                </div>
            </ng-template>
            <ng-template #header let-columns>
                <tr>
                    <th pSortableColumn="id" class="w-24">Id<p-sortIcon field="id" /></th>
                    <th pSortableColumn="avatar" class="w-24">Avatar<p-sortIcon field="avatar" /></th>
                    <th pSortableColumn="name" class="w-24">Name<p-sortIcon field="name" /></th>
                    <th pSortableColumn="role" class="w-24">Role<p-sortIcon field="role" /></th>
                    <th pSortableColumn="email" class="w-24">Email<p-sortIcon field="email" /></th>
                    <th class="w-32">Action</th>
                </tr>
            </ng-template>
            <ng-template #body let-rowData>
                <tr>
                    <td>{{ rowData.id }}</td>
                    <td style="width: 10%;">
                        <p-avatar [image]="rowData.avatar" size="large" shape="circle"></p-avatar>
                    </td>
                    <td>{{ rowData.name }}</td>
                    <td>{{ rowData.role }}</td>
                    <td>{{ rowData.email }}</td>
                    <td>
                        <p-button (click)="showDialogEdit(rowData)" icon="pi pi-pencil" severity="info" label="Edit"
                            [style]="{height:'40px', 'border-radius':'8px'}" class="mr-2" />
                        <p-dialog header="Edit user" [(visible)]="visibleEdit" [style]="{ width: '30rem' }"
                            (onHide)="closeEdit()">
                            <div class="flex items-center gap-2 mb-4">
                                <label for="avatar" class="font-semibold w-24">Avatar</label>
                                <input pInputText id="avatar" [(ngModel)]="item.avatar"
                                    class="flex-auto custom-search-input-dialog"
                                    [ngClass]="{ 'ng-invalid': !validateAvatar }" />
                            </div>
                            <small *ngIf="!validateAvatar" class="p-error">
                                Avatar must be a valid URL.
                            </small>

                            <div class="flex items-center gap-2 mb-4">
                                <label for="name" class="font-semibold w-24">Name</label>
                                <input pInputText id="name" [(ngModel)]="item.name"
                                    class="flex-auto custom-search-input-dialog" />
                            </div>

                            <div class="flex items-center gap-2 mb-4">
                                <label for="password" class="font-semibold w-24">Password</label>
                                <input pInputText id="password" [(ngModel)]="item.password"
                                    class="flex-auto custom-search-input-dialog"
                                    [ngClass]="{ 'ng-invalid': !validatePassword }" />
                            </div>
                            <small *ngIf="!validatePassword" class="p-error">
                                Password must be at least 4 characters long.
                            </small>

                            <div class="flex items-center gap-2 mb-8">
                                <label for="email" class="font-semibold w-24">Email</label>
                                <input pInputText id="email" [(ngModel)]="item.email"
                                    class="flex-auto custom-search-input-dialog"
                                    [ngClass]="{ 'ng-invalid': !validateEmail }" />
                            </div>
                            <small *ngIf="!validateEmail" class="p-error">
                                Email must be a valid email address.
                            </small>

                            <div class="flex justify-end gap-2">
                                <p-button label="Cancel" severity="secondary" (click)="closeEdit()" />
                                <p-button label="Save" severity="info" (click)="edit(item)" />
                            </div>
                        </p-dialog>
                        <p-button (click)="delete(rowData)" icon="pi pi-trash" severity="danger" label="Delete"
                            [style]="{height:'40px', 'border-radius':'8px'}" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-toast />
        <p-confirmdialog />
    </div>
</div>